<div class="container">

  <div class="container-opciones">

   

    <div class="input">
      <input type="text"
      id="inputTexto"
      name="texto"
      [(ngModel)]="texto"
      placeholder="Digite su texto" >
    </div>

    <div class="container-button">
      <button (click)="encriptar()" class="button">Encriptar</button>
      <button (click)="desencriptar()" class="button-desencriptar">Desencriptar</button>
    </div>
  </div>

  <div class="container-desifrado">
    <div>
      <div *ngIf="this.textoListo == ''">
        <img  src="../assets/imagenes/ilustracion-1.svg" alt="imagen">
        <h3>Hola mundo</h3>
        <p>esto debe desaparecer cada que hagamos la encriptacion</p>
      </div>

      <p id="textoACopiar">{{textoListo}}</p>
    </div>

    <div>
      <button *ngIf="textoListo" (click)="copiarTexto">Copiar</button>
    </div>
  </div>
</div>
